<h1>Artist's Songs</h1>

<% @songs.each do |song| %>
    <h3><%= song.title %></h3>
    <h4><%= song.album %></h4>
    <%= link_to 'Show', artist_song_path(@artist, song) %>
<% end %>

<%= link_to 'New Song', new_artist_song_path(@artist) %>
<%= link_to 'Home', billboards_path %>