<h1 class="center"> <%= @billboard.name %> </h1>

<ul>
  <li>Name: <%= @billboard.name %> </li>
  <li>
    <%= link_to 'Edit', edit_billboard_path(@billboard) %>
    <%= link_to 'Delete', billboard_path(@billboard), method: :delete, data: {confirm: 'Really Delete?'} %>
  </li>
</ul>

<%= link_to 'Back', billboards_path %>
