<h1> <%= @billboard.name %> </h1>

<ul>
  <li>Name: <%= @billboard.name %> </li>
  <li>
    <%= link_to 'Edit', edit_billboard_path(@billboard) %>
    <%= link_to 'Delete', billboard_path(@billboard), method: :delete, data: {confirm: 'Really Delete?'} %>
  </li>
</ul>

<% @artists.each do |artist| %>
    <h3><%= artist.name %></h3>
    <h4><%= artist.album %></h4>
    <%= link_to 'Show', billboard_artist_path(@billboard, artist) %>
<% end %>

<%= link_to 'New Artist', new_billboard_artist_path(@billboard) %>
<%= link_to 'Home', billboards_path %>
